<!DOCTYPE html>
<html lang=es>
<head>

  {% block title %}
    <title>Contabilidad Susana y Oriol</title>
  {% endblock %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'main/css/bulma.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/oriol.css' %}">
  <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
  {% block head %}{% endblock %}

</head>

<body>
	<div class="container">

		<!-- hero: https://bulma.io/documentation/layout/hero/ -->
		<section class="hero is-success is-small">
			<div class="hero-body">
        <p class="title has-text-centered">Contabilidad Oriol y Susana</p>
			</div>
      <div class="tabs is-centered is-fullwidth is-boxed">
        <ul>
          {% block tabs %}
          <li class="is-active"><a href="{% url 'main:index' %}">Página principal</a></li>
          <li><a href="{% url 'main:cuentas' %}">Cuentas</a></li>
          <li><a href="{% url 'main:asientos' %}">Asientos</a></li>
          {% endblock %}
        </ul>
      </div>
		</section>


		<div class="columns">
			<div class="column is-narrow m-3">
				<aside class="menu">
          {% block menu %}
            <p class="menu-label">
              Menú lateral
            </p>
          {% endblock %}
          {% block menu_local %}{% endblock menu_local %}
				</aside>
        {% block aside %}{% endblock aside %}
			</div>

			<div class="column">
				<main class="content">
          {% block content %}{% endblock %}
        </main>

				<footer class="footer">
          {% block footer %}
  				  <div class="content has-text-centered">
  				    <p>&copy; 2021. Oriol Pujol Romanyà</p>
  				  </div>
          {% endblock %}
				</footer>

			</div>

		</div>
	</div>
</body>

</html>
