{% extends "base_generic.html" %}

{% block tabs %}
    <li><a href="{% url 'main:index' %}">Página principal</a></li>
    <li><a href="{% url 'main:cuentas' %}">Cuentas</a></li>
    <li class="is-active"><a href="{% url 'main:asientos' %}">Asientos</a></li>
{% endblock %}

{% block aside %}
<div class="panel mt-4">
  <p class="panel-heading">
    Cargar asientos
  </p>

  <div class="panel-block">
    <form action="{% url 'main:cargar_asientos' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="file mt-2 is-small is-centered">
        <label class="file-label">
          <input class="file-input" type="file" name="file" required>
          <span class="file-cta">
            <span class="file-icon">
              <span class="icon iconify" data-icon="mdi-upload"></span>
            </span>
            <span class="file-label">
              Abre plantilla…
            </span>
          </span>
        </label>
          <button type="submit" class="button is-primary is-outlined is-small ml-2">
            <span class="icon iconify" data-icon="mdi-check"></span>
          </button>

      </div>
    </form>

  </div>
</div>

<div class="panel">
  <p class="panel-heading">
    Filtro
  </p>

  <form action="{% url 'main:filtro_asientos' %}" method="post">

    <div class="panel-block">
      {% csrf_token %}
      <ul>
        <li><input class="input is-small" type="date" title="Entra la fecha inicial" id="f_fecha_inicial" name="f_fecha_inicial" size=20 placeholder="Fecha inicial" value={{ filtro.ffecha_ini }}></li>
        <li><input class="input is-small" type="date" title="Entra la fecha final" id="f_fecha_final" name="f_fecha_final" size=20 placeholder="Fecha final" value={{ filtro.ffecha_fin }}></li>
        <li><input class="input is-small" type="text" title="Entra palabra(s) de la descripción" id="f_descripcion" name="f_descripcion" size=20 placeholder="Descripción" value={{ filtro.fdescripcion }}></li>
        <li><input class="input is-small" type="text" title="Entra el número de cuenta" id="f_cuenta" name="f_cuenta" list="cuentas" size=20 placeholder="Cuenta" value={{ filtro.fcuenta }}></li>
        <li><input class="input is-small" type="text" title="Entra el número de asiento" id="f_asiento" name="f_asiento" size=20 placeholder="Asiento" value={{ filtro.fasiento }} ></li>
        <li>
          <button type="submit" class="button is-small is-success is-outlined m-2">
             <span class="icon iconify" data-icon="mdi-check"></span>
          </button>
          <a href="{% url 'main:asientos' %}" class="button is-small is-danger is-outlined m-2">
            <span class="icon iconify" data-icon="mdi-close-circle"></span>
          </a>
        </li>
    </ul>
    </div>

  </form>

</div>


{% endblock aside %}

{% block content %}

<div class="panel m-3 opr-sticky is-warning has-background-warning-light">
  <p class="panel-heading">
    Crea asiento simple
  </p>

  <div class="panel-block">
    <form action="{% url 'main:asientos' %}" method="post">
      {% csrf_token %}
        <table class="table has-background-warning-light" >
        <thead>
          <tr>
            <th> <label for="fecha" class="label"> Fecha </label> </th>
            <th> <label for="descripcion" class="label"> Descripción </label> </th>
            <th> <label for="valor" class="label"> Valor </label> </th>
            <th> <label for="debe" class="label"> Cuenta debe </label> </th>
            <th> <label for="haber" class="label"> Cuenta haber </label> </th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <input class="input is-small is-rounded" type="date" id="fecha" name="fecha" required>
            <td> <input class="input is-small is-rounded" type="text" id="descripcion" name="descripcion" required maxlength="200" size=60>
            <td> <input class="input is-small is-rounded" type="number" id="valor" name="valor" step="0.01" required min=0.01>
            <td> <input class="input is-small is-rounded" type="text" id="debe" name="debe" list="cuentas" required size=20>
            <td> <input class="input is-small is-rounded" type="text" id="haber" name="haber" list="cuentas" required size=20>
            <td>
              <button type="submit" class="button is-small is-success is-outlined">
                <span class="icon iconify" data-icon="mdi-check"></span>
                <span>Añadir</span>
              </button>
          </tr>
        </tbody>


        </table>
        <datalist id="cuentas">
          {% for cuenta in lista_cuentas %}
            <option value="{{ cuenta }}">
          {% endfor %}
        </datalist>
    </form>
  </div>
</div>


{% if lista_movimientos %}
  <div class="table-container">
    <table class="table is-striped is-narrow is-hoverable">
    <thead>
      <tr>
        <th> Núm </th>
        <th> Fecha </th>
        <th> Descripción </th>
        <th> Debe </th>
        <th> Haber </th>
        <th> Cuenta </th>
      </tr>
    </thead>

    <tbody>
      {% for movimiento in lista_movimientos %}
        <tr>
          <td class="has-text-right"><a href="{% url 'main:modificar_asiento' movimiento.num %}">{{ movimiento.num }}</a></td>
          <td> <a href="{% url 'main:modificar_asiento' movimiento.num %}">{{ movimiento.fecha }}</a></td>
          <td class="has-text-left"> <a href="{% url 'main:modificar_asiento' movimiento.num %}">{{ movimiento.descripcion }}</a></td>
          <td class="has-text-right">
            {% if movimiento.debe == 0 %}
              <a href="{% url 'main:modificar_asiento' movimiento.num %}">-</a>
            {% else %}
              <a href="{% url 'main:modificar_asiento' movimiento.num %}">{{ movimiento.debe|floatformat:"2g" }}</a>
            {% endif %}
          </td>
          <td class="has-text-right">
            {% if movimiento.haber == 0 %}
              <a href="{% url 'main:modificar_asiento' movimiento.num %}">-</a>
            {% else %}
              <a href="{% url 'main:modificar_asiento' movimiento.num %}">{{ movimiento.haber|floatformat:"2g" }}</a>
            {% endif %}
          <td class="has-text-left"> <a href="{% url 'main:modificar_asiento' movimiento.num %}">{{ movimiento.cuenta }}</a></td>
          <td>
            <a href="{% url 'main:modificar_asiento' movimiento.num %}">
              <span class="icon iconify has-text-link is-small" data-icon="mdi-edit"></span>
            </a>
            <a href="{% url 'main:borrar_movimiento' movimiento.id 'asientos' %}">
              <span class="icon iconify has-text-danger is-small" data-icon="mdi-trash-can"></span>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>

    </table>
  </div>
  <table>
    <thead>
      <th>Total debe</th>
      <th>Total haber</th>
      <th>Balance</th>
    </thead>
    <tbody>
      <td>{{ total_debe }}</td>
      <td>{{ total_haber }}</td>
      <td>{{ total }}</td>
    </tbody>
  </table>

{% else %}
    <p>No hay ningún asiento.</p>
{% endif %}

{% endblock %}
