{% extends "base_generic.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'main/css/oriol.css' %}">
{% endblock %}

{% block header %}
  <p class="subtitle has-text-centered">Asientos</p>
{% endblock %}


{% block content %}

<div class="section opr-sticky m-0 p-0">
  <form action="{% url 'main:asientos' %}" method="post">
    {% csrf_token %}
      <table class="table has-background-success-light" >
      <thead>
        <tr>
          <td> <label for="fecha" class="label"> Fecha </label>
          <td> <label for="descripcion" class="label"> Descripción </label>
          <td> <label for="valor" class="label"> Valor </label>
          <td> <label for="debe" class="label"> Cuenta debe </label>
          <td> <label for="haber" class="label"> Cuenta haber </label>
          <td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <input class="input is-small is-rounded" type="date" id="fecha" name="fecha" required>
          <td> <input class="input is-small is-rounded" type="text" id="descripcion" name="descripcion" required maxlength="200" size=80>
          <td> <input class="input is-small is-rounded" type="number" id="valor" name="valor" step="0.01" required min=0.01>
          <td> <input class="input is-small is-rounded" type="text" id="debe" name="debe" list="cuentas" required>
          <td> <input class="input is-small is-rounded" type="text" id="haber" name="haber" list="cuentas" required>
          <td> <button type="submit" class="button is-small is-success">
                 <span class="icon iconify" data-icon="mdi-check"></span>
                 <span>Añadir</span>
               </button>
        </tr>
      </tbody>


      </table>
      <datalist id="cuentas">
        {% for cuenta in lista_cuentas %}
          <option value="{{ cuenta }}">
        {% endfor %}
      </datalist>
  </form>
</div>


{% if lista_movimientos %}
  <div class="table-container">
    <table class="table is-striped is-narrow is-hoverable">
    <thead>
      <tr>
        <th> Núm </th>
        <th> Fecha </th>
        <th> Descripción </th>
        <th> Debe </th>
        <th> Haber </th>
        <th> Cuenta </th>
      </tr>
    </thead>

    <tbody>
      {% for movimiento in lista_movimientos %}
        <tr>
          <td class="has-text-right"><a href="{% url 'main:modificar_asiento' movimiento.num %}">{{ movimiento.num }}</a></td>
          <td> <a href="{% url 'main:modificar_asiento' movimiento.num %}">{{ movimiento.fecha }}</a></td>
          <td class="has-text-left"> <a href="{% url 'main:modificar_asiento' movimiento.num %}">{{ movimiento.descripcion }}</a></td>
          <td class="has-text-right">
            {% if movimiento.debe == 0 %}
              <a href="{% url 'main:modificar_asiento' movimiento.num %}">-</a>
            {% else %}
              <a href="{% url 'main:modificar_asiento' movimiento.num %}">{{ movimiento.debe }}</a>
            {% endif %}
          </td>
          <td class="has-text-right">
            {% if movimiento.haber == 0 %}
              <a href="{% url 'main:modificar_asiento' movimiento.num %}">-</a>
            {% else %}
              <a href="{% url 'main:modificar_asiento' movimiento.num %}">{{ movimiento.haber }}</a>
            {% endif %}
          <td class="has-text-left"> <a href="{% url 'main:modificar_asiento' movimiento.num %}">{{ movimiento.cuenta }}</a></td>
          <td><a href="{% url 'main:borrar_movimiento' movimiento.id 'asientos' %}"><span class="icon iconify has-text-danger is-small" data-icon="mdi-trash-can"></span></a></td>
        </tr>
      {% endfor %}
    </tbody>

    </table>
  </div>

{% else %}
    <p>No hay ningún asiento todavía.</p>
{% endif %}

{% endblock %}
