{% extends "base_generic.html" %}

{% block tabs %}
    <li><a href="{% url 'main:index' %}">Página principal</a></li>
    <li class="is-active"><a href="{% url 'main:cuentas' %}">Cuentas</a></li>
    <li><a href="{% url 'main:asientos' %}">Asientos</a></li>
{% endblock %}


{% block aside %}
<div class="panel mt-4">
  <p class="panel-heading">
    Cargar cuentas
  </p>

  <div class="panel-block">
    <form action="{% url 'main:cargar_cuentas' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <label class="checkbox">
        <input type="checkbox" name="sobreescribir" class="mr-2">
        Sobreescribir cuentas
      </label>
      <div class="file mt-2 is-small is-centered">
        <label class="file-label">
          <input class="file-input" type="file" name="file" required>
          <span class="file-cta">
            <span class="file-icon">
              <span class="icon iconify" data-icon="mdi-upload"></span>
            </span>
            <span class="file-label">
              Abre fichero…
            </span>
          </span>
        </label>
          <button type="submit" class="button is-primary is-outlined is-small ml-2">
            <span class="icon iconify" data-icon="mdi-check"></span>
          </button>

      </div>
    </form>
  </div>
</div>

<div class="panel">
  <p class="panel-heading">
    Filtro
  </p>

  <div class="panel-block">
    <form action="{% url 'main:filtro_cuentas' %}" method="post">
      {% csrf_token %}
      <ul>
        <li><input class="input is-small" type="text" id="f_num" name="f_num" size=20 placeholder="Núm" value={{ fnum }}></li>
        <li><input class="input is-small" type="text" id="f_nombre" name="f_nombre" size=20 placeholder="Nombre" value={{ fnombre }}></li>
        <li>
          <button type="submit" class="button is-small is-success is-outlined m-2">
             <span class="icon iconify" data-icon="mdi-check"></span>
          </button>
          <a href="{% url 'main:cuentas' %}" class="button is-small is-danger is-outlined m-2">
            <span class="icon iconify" data-icon="mdi-close-circle"></span>
          </a>
        </li>
      </ul>
    </form>

  </div>


</div>



{% endblock aside %}

{% block content %}

<div class="panel m-3 opr-sticky is-warning has-background-warning-light">
  <p class="panel-heading">
    Crea asiento simple
  </p>

  <div class="panel-block">
    <form action="{% url 'main:cuentas' %}" method="post">
      {% csrf_token %}

      <table class="table has-background-warning-light" >

        <thead>
          <tr>
            <th> <label for="num" class="label"> Número </label></th>
            <th> <label for="nombre" class="label"> Nombre </label></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td> <input class="input is-small is-rounded" type="text" id="num" name="num" required size=20></td>
            <td> <input class="input is-small is-rounded" type="text" id="nombre" name="nombre" required maxlength="200" size=200></td>
            <td> <button type="submit" class="button is-small is-success is-outlined">
                   <span class="icon iconify" data-icon="mdi-check"></span>
                   <span>Añadir</span>
                 </button></td>
          </tr>
        </tbody>

      </table>

    </form>
  </div>
</div>

{% if lista_cuentas %}
    <table class="table is-striped is-narrow is-hoverable">

      <thead>
        <tr>
          <th> Núm </th>
          <th> Cuenta </th>
        </tr>
      </thead>

      <tbody>
        {% for cuenta in lista_cuentas %}
          <tr>
            <td class="has-text-left"> <a href="{% url 'main:modificar_cuenta' cuenta.num %}">{{ cuenta.num }}</a></td>
            <td class="has-text-left"> <a href="{% url 'main:modificar_cuenta' cuenta.num %}">{{ cuenta.nombre }}</a></td>
            <td><a href="{% url 'main:borrar_cuenta' cuenta.num %}"><span class="icon iconify has-text-danger is-small" data-icon="mdi-trash-can"></span></a></td>
          </tr>
        {% endfor %}
      </tbody>

    </table>

{% else %}
    <p>No hay ninguna cuenta todavía.</p>
{% endif %}


{% endblock %}
