{% extends "base_generic.html" %}

{% block header %}
  <p class="subtitle has-text-centered">Modificación de cuenta</p>
{% endblock %}


{% block content %}

<div class="is-flex is-justify-content-space-between m-4">
  <p class="title">Cuenta núm: {{ cuenta.num }}</p>
  <p class="opr-center">
    <button type="submit" class="button is-small is-success" form="formulario">
      <span class="icon iconify" data-icon="mdi-content-save-edit"></span>
    </button>
  </p>
</div>

<form id="formulario" action="{% url 'main:modificar_cuenta' cuenta.num %}" method="post">
{% csrf_token %}

<div class="table-container">
  <table class="table is-striped is-narrow is-hoverable is-small">
    <thead>
      <tr>
        <th> Núm </th>
        <th> Cuenta </th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td> <input class="input is-small" type="number" id="num" name="num" size=5 readonly value={{ cuenta.num }}></td>
          <td> <input class="input is-small" type="text" id="nombre" name="nombre" required value="{{ cuenta.nombre }}"></td>
          <td><a href="{% url 'main:borrar_cuenta' cuenta.num %}"><span class="icon iconify has-text-danger is-small" data-icon="mdi-trash-can"></span></a></td>
        </tr>
    </tbody>

  </table>
</div>
</form>

{% endblock %}
